body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
    background: #333;
    color: floralwhite;
    text-align: center;
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
}

h1 {
    font-weight: normal;
    font-size: 100px;
    line-height: 100px;
    display: inline-block;
    margin: 0 auto;
}

#background {
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
}

#overlay, #gallery {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#overlay {
    background: rgba(0,0,0,0.3);
}

#gallery {
    width: 90%;
    margin: 5%;
    text-align: center;
}

#gallery img {
    height: 500px;
    opacity: 0.8;
    transform: scale(0.8);
    -webkit-transition: opacity 300ms, scale 300ms;
    transition: opacity 500ms, transform 500ms;
}

#gallery img.slick-active {
    opacity: 1;
    transform: scale(1);
}

a, button {
    color: floralwhite;
}

a:hover, a:focus, button:hover, button:focus {
    color: #DDD;
}

#hide {
    z-index: 1;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 10px;
    border-radius: 3px;
    background: rgba(123, 123, 123, 0.701961);
}

button {
    display: inline-block;
    background: none;
    border: none;
    font-family: Courier New;
    color: white;
    font-size: 16px;
    text-decoration: underline;
}

button:hover {
    cursor: pointer;
}

.slick-prev:before, .slick-next:before {
    font-family: 'Courier New', monospace;
    font-size: 40px;
    line-height: 40px;
    font-weight: bolder;
}

.slick-prev:before {
    content: "<";
}

.slick-next:before {
    content: ">";
}

.slick-dots li button:before {
    color: floralwhite;
}

.slick-dots li.slick-active button:before {
    color: floralwhite;
}

@media(max-device-width: 768px) {
    a, button {
        display: block;
        font-size: 2em;
    }
    
    button {
        margin: auto;
        margin-top: 1em;
    }
    
    #gallery {
        margin-bottom: 0;
    }
    
    .slick-dots {
        display: none !important;
    }
}

/*iPhone 6 plus size and below*/
@media(max-device-width: 414px) {
    a, button {
        display: block;
        font-size: 4em;
        margin: 1em auto;
    }
    
    
    
    #gallery {
        margin-bottom: 5%;
    }
    
    .slick-dots {
        display: block;
    }
}