body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
    background-color: #333;
    background-image: url('../images/bg-min.png');
    background-position: center;
    background-size: cover;
    color: floralwhite;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 20vw;
    line-height: 13vw;
    margin: 0 auto;
}

#title p {
    margin: 0;
    font-size: 3.8vw;
}

#contact {
    margin-top: 2vw;
}

a {
    color: floralwhite;
    text-decoration: none;
    margin-left: 5vw;
    margin-right: 5vw;
}

a:hover svg path {
    fill: #fffc27;
}

svg {
    height: 7vw;
    width: 7vw;
}

svg path {
    transition: fill 200ms;
}

#copyright {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 1vw;
}

#copyright a {
    margin: 0;
    text-decoration: underline;
}